body {
    background-color: rgb(77, 124, 30);
    color: rgb(1, 8, 3);
    font-family: fantasy;
    line-height: 1.6;
}
.cooperativa-pindorama{
    background-color: rgb(49, 146, 4);
    color:rgb(238, 250, 69);
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

p{
    color:rgb(11, 12, 11);
}

.lista {
    background-color: rgb(51, 91, 10);
    margin-right: 85%;
}
ol{
    color: rgb(180, 222, 138);
}
ul{
    color: rgb(182, 238, 130);
}