body{
    background-color: rgb(178, 247, 108)
}
h1{
    background-color: rgb(4, 73, 4);
    color: darkkhaki;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.copa{
    background-color: rgb(72, 122, 23);
    color: rgb(76, 230, 76);
    line-height: 1.5;
}
ul{
    color: rgb(107, 109, 32);
    line-height: 1.6;
}